DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMmMzMzkyN2UtZGYyZC00Njk0LTk2YmMtYmNlMjY5ZGE0NTViIiwidGVuYW50X2lkIjoiYjFjMGFmYzA5N2E3MDc1YzI4ZTMwZmVjMmE0MDcwYTczN2NkMDU5NGIzMTUxMGJiMmZhZDI5YTQ3YjExZDFmMCIsImludGVybmFsX3NlY3JldCI6IjUyMDBlOWM3LWQ1YTktNGY4MC04OGIwLTc2OTZiYTVjMGYzMiJ9.Je4_dR0Juy4XB_M_hJss497bOrQY17HrD9sCtkAB08g"
PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMmMzMzkyN2UtZGYyZC00Njk0LTk2YmMtYmNlMjY5ZGE0NTViIiwidGVuYW50X2lkIjoiYjFjMGFmYzA5N2E3MDc1YzI4ZTMwZmVjMmE0MDcwYTczN2NkMDU5NGIzMTUxMGJiMmZhZDI5YTQ3YjExZDFmMCIsImludGVybmFsX3NlY3JldCI6IjUyMDBlOWM3LWQ1YTktNGY4MC04OGIwLTc2OTZiYTVjMGYzMiJ9.Je4_dR0Juy4XB_M_hJss497bOrQY17HrD9sCtkAB08g"